@media only screen and (max-width:700px){
    /* .first7{
        padding: 1px;
        display :block;
        grid-template-columns: repeat(1,1fr);
    } */
    .ann2{
        gap: 1em;
        font-size: 10px;
        display :block;
        grid-template-columns: repeat(1,1fr);
        margin-right: 80%;
        word-spacing: normal;
    }

    .ann4{
        display :block;
        grid-template-columns: repeat(1,1fr);
        margin-right: 60%;
    }
    .view{
        display :grid;
        grid-template-columns: repeat(1,1fr);
    }
    .product{
        display :grid;
        grid-template-columns: repeat(2,1fr);
    }
    .new{
        display :grid;
        grid-template-columns: repeat(2,1fr);

    }
    .esther{
        display :grid;
        grid-template-columns: repeat(3,1fr);
    }
    .muyale{
        display :grid;
        grid-template-columns: repeat(2,1fr);
    }
    .secondshoe{
        display :grid;
        grid-template-columns: repeat(2,1fr);
    }
    .maria{
        display: grid;
        grid-template-columns: repeat(1,1fr) ;
        gap: 1em;
    }
}